<ion-view title="Administrar Recetas">
    <ion-header-bar class="bar bar-subheader subheader">
        <a class="button button-small button-energized botones-edicion-receta" href="#/tab/account/false">Volver</a>
        <button ng-click="nuevaReceta()" class="button button-nuevareceta botones-edicion-receta">Agregar Receta</button>
    </ion-header-bar>
    <ion-content has-header="true" has-subheader="true" padding="true" has-bouncing="false">    
	<div class="item-divider item-title">Recetas</div>
    <div id="recetas" class="gridStyle big" ng-grid="recetasOptions"></div>
	</ion-content>
</ion-view>