<ion-view name="modalidad" title="Modalidad de producci&oacute;n">
  <ion-content class="modalidad-content" has-header="true" has-bouncing="false">
    <div class="list option-list">
        <a class="item item-thumbnail-top option-item" href="#/tab/seleccionRecetas/I" title="Industrial">
          <p>¿Est&aacute;s en el centro de formaci&oacute;n?</p>
          <img src="img/service4.png">
          <h3>Producci&oacute;n Industrial</h3>
        </a>
        <div data-tap-disabled="true" class="item option-item" ></div>
        <a class="item item-thumbnail-top option-item" href="#/tab/seleccionRecetas/H" title="Hogare&ntilde;o">
          <p>¿Est&aacute;s en tu casa?</p>
          <img src="img/service5.png">
          <h3>Producci&oacute;n Hogare&ntilde;a</h3>
        </a>
    </div>
  </ion-content>
</ion-view>