<ion-view title="Perfiles">
  <ion-header-bar class="bar bar-subheader subheader">
      <a class="button button-energized button-small botones-edicion-receta" href="#/tab/account/false">Volver</a>
  </ion-header-bar>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Arrastra para recargar</h1>
  </ion-header-bar>
  <ion-content class="has-header" has-subheader="true" has-bouncing="true">
    <ion-refresher on-refresh="doRefresh()"
                 pulling-text="Arrastra para recargar..."
                 refreshing-text="Recargando!"
                 refreshing-icon="ion-loading-c">
    </ion-refresher>
    <ion-list class="can-swipe no-background" type="card">
      <ion-item class="usuario item-texto-visible item-admin" ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        <img ng-src="{{friend.thumbnail}}" class="thumbnail photo"/>
        {{friend.name}}
        <i ng-if="friend.userType=='A'" class="ion-settings padding" title="Usuario administrador"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
